  h1 {
    text-align: center;
        font-weight: 300;
        font-size: 42px;
        text-align: center;
        color: #dda0dd;
        border: 2px solid #ffdab9;
        border-radius: 8px;
      }
      h2 {
        border-radius: 20px;
        border: 2px solid #4682b4;
        font-weight: 130;
        font-size: 25px;
        text-align: center;
        color: #d8bfd8;
        line-height: 40px;
        border: 10px; #722f37;
      }
      img {
        display: block;
        margin: 0 auto;
      }
      p {
        text-align: center;
        font-size: 18px;
        font-family: Arial;
        line-height: 25px;
      }
      button {
        border-radius: 20px;
        border: 2px solid #4682b4;
        margin: 0 auto;
        display: block;
        font-size: 18px;
        background-color: #ccccff;
        color: #722f37;
        padding: 24px;
        transition: all 200ms ease;
        box-shadow: 30px 16px teal;
      }
      button:hover {
        color: #00a36c;
        background-color: #fff5ee;
      }
      div {
        font-family: Arial;
        font-size: 18px;
      }